.start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #293264;
  width: 412px;
}

.start-screen > h1{
  font-size: 31.25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.start-screen > p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.start-screen > button {
  color: white;
  background-color: #4D5B9E;
  width: 192px;
  height: 52px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.quizz-screen{
  width: 500px;
  height: 100vh;
}

.question-single{
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 90px 50px;
  border-bottom: 2px solid #DBDEF0;
}

.question-single > h2 {
  grid-column: 1/-1;
  grid-row: 1/2;
  height: auto;
  width: auto;
  margin-bottom: 0;
}

.question-single > button {
  height: auto;
  width: auto;
  color: #4D5B9E;
  background-color: #F5F7FB;
  border-radius: 15px;
  border: 2px solid #4D5B9E;
  cursor: pointer;
  font-weight: 700;
  
}