:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #293264; 
  background-color: #F5F7FB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100vh;
  margin: 0;
  background-color: #F5F7FB;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

